.widget-box {
    margin-bottom: 20px;
}

.widget-box p:last-child {
    margin: 0px;
}

.website-created {
    text-align: center;
}

.website-created strong {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}
